<div class="dashboard">
    <section>
        <h2>{{'avq-web-banking-workshop.dashboard.recent-payments.title' | translate}}</h2>
        <avq-web-banking-payment-list-widget
          [paymentStates]="paymentListStateRecentlyUsed"
          (showAllPayments)="onShowAllPayments($event)"
          (showPayment)="onShowPayment($event)">
        </avq-web-banking-payment-list-widget>
      </section>
      <section>
        <h2>{{'avq-web-banking-workshop.dashboard.upcoming-payments.title' | translate}}</h2>
        <avq-web-banking-payment-list-widget
          [paymentStates]="paymentListStateUpcoming"
          (showAllPayments)="onShowAllPayments($event)"
          (showPayment)="onShowPayment($event)">
        </avq-web-banking-payment-list-widget>
    </section>
  </div>