// Color pallette
$avaloq-primary: (
  50: #e0e9f2,
  100: #b3c8df,
  200: #80a4c9,
  300: #4d7fb3,
  400: #2663a3,
  500: #004893,
  600: #00418b,
  700: #003880,
  800: #003076,
  900: #002164,
  A100: #94adff,
  A200: #6187ff,
  A400: #2e60ff,
  A700: #144cff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$avaloq-accent: (
  50: #e6f5fb,
  100: #99d5f1,
  200: #73c6eb,
  300: #4db6e6,
  400: #26a7e0,
  500: #0097db,
  600: #0080ba,
  700: #006a99,
  800: #005378,
  900: #003c58,
  A100: #ecf5ff,
  A200: #b9daff,
  A400: #86bfff,
  A700: #6db2ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$avaloq-success: (
  50: #ebf6ec,
  100: #cee8cf,
  200: #aed8b0,
  300: #8dc890,
  400: #74bd78,
  500: #5cb160,
  600: #54aa58,
  700: #4aa14e,
  800: #419844,
  900: #308833,
  A100: #d0ffd2,
  A200: #9dffa1,
  A400: #6aff6f,
  A700: #51ff57,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$avaloq-warn: (
  50: #f6e0e4,
  100: #e7b3bc,
  200: #d88090,
  300: #c84d63,
  400: #bc2641,
  500: #b00020,
  600: #a9001c,
  700: #a00018,
  800: #970013,
  900: #87000b,
  A100: #ffb3b6,
  A200: #ff8085,
  A400: #ff4d53,
  A700: #ff343b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$avaloq-info: (
  50: #e1f1f9,
  100: #b3dbf1,
  200: #81c4e8,
  300: #4eacdf,
  400: #289ad8,
  500: #0288d1,
  600: #0280cc,
  700: #0175c6,
  800: #016bc0,
  900: #0158b5,
  A100: #deecff,
  A200: #abceff,
  A400: #78b1ff,
  A700: #5ea2ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);



// Theme configuration object
$app-theme-config: (
  primary: mat-palette($avaloq-primary),
  accent: mat-palette($avaloq-accent),
  warn: mat-palette($avaloq-warn),
  success: mat-palette($avaloq-success),
  info: mat-palette($avaloq-info),
  foreground: (
    base: black,
    disabled: #757575,
    disabled-text: #757575,
    elevation: #000000,
    secondary-text: #757575,
    text: #212121,
    positive-text: #5cb160,
    negative-text: #b00020,
    neutral-text: #545454,
  ),
  background: (
    app-bar: white,
    background: #eceff1fa,
    hover: mat-color($avaloq-primary, 300, 0.1),
    card: white,
    dialog: white,
    raised-button: white,
  ),
);
